.images-container {
    padding-top: 20px;
}
.preview-img > img {
    max-height: 100%;
    max-width: 100%;
}
.preview-img-container {
    padding-right: 0px;
    padding-left: 0px;
    height: 150px;
    overflow: hidden;
    cursor:pointer;
}
.preview-img-container:hover .edit-btn-block {
    display: block;
}
.preview-img-container.selected {
    border-style: dotted;
}
.preview-img-container > [name=isCover] {
    position: absolute;
    bottom: 0px;
    margin: 5px;
}
.preview-img-container > [name=isCover] > .glyphicon {
    padding-right: 5px;
}