body {
    background-image: url("images/record.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*background-blend-mode: exclusion;*/
}

body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    position: absolute;
    width: 100%;
    margin-top: 52px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    max-height: 52px;
}

.navbar.navbar-default > .container{
    background-color: rgb(34, 34, 34)
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

[ng\:cloak], [ng-cloak],
[data-ng-cloak],
.ng-cloak, x-ng-cloak {
    display: none;
}

input.ng-invalid.ng-dirty {
    background-color: peachpuff;
}

/*TEMPORARY (for load-screen in ReleaseView.html)*/
.default-load-screen {
    background-color: rgba(255, 255, 255, 0.9);
}