<h1>Releases</h1>

<!--@if (Global.IsAdminMode)
{
<div class="create-new-btn-container">
    @Html.ActionLink(RecordLabel.Web.Localization.ManagementApplicationLocalization.Edit_AddNew, "Create", null, new { @class = "btn btn-success" })
</div>
}-->

<div ng-show="isAdminMode">
    <a href="#/Releases/New" class="btn btn-default">Create New</a>
</div>

<div load-screen ls-show="isLoading" ls-class="default-load-screen">
    <div class="row" id="TheList">
        <div ng-repeat="model in ctrl.entries()" class="col-lg-4 col-sm-6 list-cell">
            <div class="list-item">
                <article>
                    <a href="#/Releases/{{model.id}}">
                        <!--@Html.DisplayFor(model => model.Model.Cover, "Thumbnail", new { @class = "thumb1 album-cover-thumb" })-->
                        Thumbnail
                    </a>
                    <div class="body">
                        <!--a directive?-->
                        <div ng-show="isAdminMode">
                            <div class="edit-btn-block">
                                <div class="edit-btn-container glyphicon">
                                    <a href="#/Releases/Edit/{{model.id}}" class="glyphicon-pencil right-top-btn"></a>
                                </div>
                            </div>
                        </div>

                        <header>
                            <!--@Html.ActionLink(Model.Artist.Name, "ByArtist", new { id = Model.ArtistId }, new { @class = "title on-top" })
                            @*@Html.ActionLink(Model.Artist?.Name, "View", "Artist", new { id = Model.ArtistId }, new { @class = "label invert no-left-pad subtitle on-top" })*@
                            @Html.ActionLink(Model.Title, "View", new { id = Model.Id }, new { @class = "label-wrap invert no-left-pad subtitle on-top" })-->
                            <a href="#/Releases/{{model.id}}">{{model.title}}</a>
                            <a href="#/Artists/{{model.artist.id}}">{{model.artist.name}}</a>
                        </header>
                        <div>
                            <span class="text-muted on-top versions-menu-trigger">
                                <!--@(Model.OtherVersions.Count > 0 ? " badge" : "" )">-->
                                {{model.media.name}}

                                <!--@{
                                    if (Model.OtherVersions.Count > 0)
                                    {
                                    <span class="versions-menu frame">
                                        @Html.ActionLink($"{Model.Media.Name} ({Model.CatalogueNumber})", "View", new { id = Model.Id }, new { @class = "label2" })
                                        @foreach (Release item in Model.OtherVersions)
                                        {
                                        @Html.ActionLink($"{item.Media.Name} ({item.CatalogueNumber})", "View", new { id = item.Id }, new { @class = "label2" })
                                        }
                                    </span>
                                    }
                                }-->

                            </span>
                            <span class="text-muted on-top">{{model.catalogueNumber}}</span>
                        </div>
                        <p class="summary">
                            Some text here...
                            <!--@if (String.IsNullOrWhiteSpace(Model.Text) == false)
                            {
                            @Html.ActionLink(Model.Text, "View", "Release", new { id = Model.Id }, new { @class = "default-text-style" })
                            }-->
                        </p>
                    </div>
                </article>
                <a href="#/Releases/{{model.id}}">
                    <div class="list-item-front-panel"></div>
                </a>
            </div>
        </div>
    </div>
</div>

<div ng-show="ctrl.moreItemsAvailable()" 
     loader-button lbtn-text="Load More" lbtn-click="ctrl.loadMore()" lbtn-is-busy="ctrl.isLoading()"/>